

header{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   h1{
      font-family: garamond;
      font-weight: 200;
      font-size: 100px;
      color: black;
      &:hover{
         color: white;
      }
   }
}

.blog{
   background: red;
   height: 50vh;
   width: 100% - 50%;
   position: absolute;
   top: 0;
   left: 0;
   h2{
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.shop{
   background: blue;
   height: 50vh;
   width: 50%;
   position: absolute;
   top: 0;
   right: 0;
   h2{
      color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.work{
   background: green;
   height: 50vh;
   width: 50%;
   position: absolute;
   bottom: 0;
   left: 0;
   h2{
      color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.info{
   background: yellow;
   height: 50vh;
   width: 50%;
   position: absolute;
   bottom: 0;
   right: 0;
   h2{
      color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}