

header{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   h1{
      font-family: garamond;
      font-weight: 200;
      font-size: 100px;
      color: black;
      &:hover{
         color: white;
      }
   }
}