

.blog{
   background: red;
   &:hover { background: white}
   height: 50vh;
   width: 100% - 50%;
   position: absolute;
   top: 0;
   left: 0;
   h2{
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.shop{
   background: blue;
   &:hover { background: white}
   height: 50vh;
   width: 50%;
   position: absolute;
   top: 0;
   right: 0;
   h2{
      color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.work{
   background: green;
   &:hover { background: white}
   height: 50vh;
   width: 50%;
   position: absolute;
   bottom: 0;
   left: 0;
   h2{
      color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}

.info{
   background: yellow;
   &:hover { background: white}
   height: 50vh;
   width: 50%;
   position: absolute;
   bottom: 0;
   right: 0;
   h2{
      color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: helvetica;
      

   }
}
